<div
  fxLayout="column"
  fxLayoutAlign="start center"
  style="width: 100%"
  fxLayoutGap="30px"
>
  <div *ngIf="question" class="header">Вопрос №{{ question.question_id }}</div>
  <mat-accordion>
    <form *ngIf="form" [formGroup]="form">
      <mat-expansion-panel
        [(expanded)]="expanded"
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>Question Text</mat-panel-title>
        </mat-expansion-panel-header>
        <div fxLayout="column" fxLayoutAlign="start start">
          <!-- QUESTION TEXT -->
          <mat-form-field class="full-width">
            <mat-label>Question Text</mat-label>
            <textarea
              cdkTextareaAutosize
              cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="13"
              type="text"
              matInput
              formControlName="question_text"
            ></textarea>
            <mat-error *ngIf="form.hasError('required')">
              Question Text is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <div fxLayoutAlign="end start" style="width: 100%">
          <button mat-button (click)="onSubmit()">Save</button>
        </div>
      </mat-expansion-panel>
    </form>
  </mat-accordion>

  <ng-container *ngIf="question">
    <app-open-graph [pageName]="question.page_name"></app-open-graph>
    <app-answers [pageName]="question.page_name"></app-answers>
    <app-charts [pageName]="question.page_name"></app-charts>
  </ng-container>
</div>
