<div
  fxLayout="column"
  fxLayoutAlign="start center"
  style="width: 100%; margin-top: 30px"
  fxLayoutGap="30px"
>
  <button
    class="button-full-width"
    mat-raised-button
    (click)="uploadPristinQuestionnaire()"
  >
    <span class="text-button">Upload Pristin Questionnaire</span>
  </button>
  <button
    class="button-full-width"
    mat-raised-button
    (click)="uploadVisitationStatsTestData()"
  >
    <span class="text-button">Upload Visitation Stats Test Data</span>
  </button>
  <button class="button-full-width" mat-raised-button>
    <span class="text-button">Delete Answers</span>
  </button>
  <button class="button-full-width" mat-raised-button>
    <span class="text-button">Delete Visitation Stats</span>
  </button>
</div>
