<div
  fxLayout="column"
  fxLayoutAlign="start center"
  style="width: 100%; margin-top: 30px"
  fxLayoutGap="30px"
>
  <!-- BUTTON 1 -->
  <button
    class="button-full-width"
    mat-raised-button
    (click)="uploadPristinQuestionnaire()"
  >
    <span class="text-button">Upload Pristin Questionnaire</span>
  </button>

  <!-- BUTTON 2 -->
  <button
    class="button-full-width"
    mat-raised-button
    (click)="uploadVisitationsStatsTestData()"
  >
    <span class="text-button">Upload Visitations Stats Test Data</span>
  </button>

  <!-- BUTTON 3 -->
  <button
    class="button-full-width"
    mat-raised-button
    (click)="uploadUsersAnswersTestData()"
  >
    <span class="text-button">Upload Users Answers Test Data</span>
  </button>

  <!-- BUTTON 4 -->
  <button
    class="button-full-width"
    mat-raised-button
    (click)="deleteUsersAnswers()"
  >
    <span class="text-button">Delete Users Answers</span>
  </button>
  <!-- BUTTON 5 -->
  <button
    class="button-full-width"
    mat-raised-button
    (click)="deleteVisitationStats()"
  >
    <span class="text-button">Delete Visitations Stats</span>
  </button>
</div>
